<header class="rcl-header">
    <div class="rcl-navbar">
        <div class="rcl-navbar-inner">
            <div class="rcl-navbar-links">
            <ul class="o-navLinkList">
                <li class="o-navLinkList">
                    <div><a class="m-navLink -navbar"><span>Personal</span></a></div>
                </li>
                <li class="o-navLinkList">
                    <div><a class="m-navLink -navbar"><span>Business</span></a></div>
                </li>
            </ul>
            </div>
            <div class="rcl-navbar-nav">
            <ul class="o-navLinkList">
                <li class="o-navLinkList">
                    <a class="m-navLink -navbar"><span>ON</span></a>
                </li>
                <li class="o-navLinkList">
                    <a class="m-navLink -navbar"><span>FR</span></a>
                </li>
                <li class="o-navLinkList">
                    <a class="m-navLink -navbar"><span class="m-navLink__icon rds-icon-location"></span><span>Find a Store</span></a>
                </li>
                <li class="o-navLinkList">
                    <a class="m-navLink -navbar"><span class="m-navLink__icon rds-icon-avatar"></span><span>Sign in</span></a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="rcl-navmain">
        <div class="rcl-navmain-inner">
            <div class="rcl-header-brand"><a class="rcl-logo" title="Rogers"><img class="rcl-icon-logo" height="39" width="190"></a></div>
            <nav class="rcl-header-navigation">
            <ul class="o-navLinkList">
                <li class="o-navLinkList">
                    <a aria-expanded="false" aria-haspopup="true" class="m-navLink" title="Shop"><span>Shop</span><span class="m-navLink__chevron rds-icon-expand"></span></a>
                </li>
                <li class="o-navLinkList">
                    <a class="m-navLink" title="MyRogers"><span>MyRogers</span></a>
                </li>
                <li class="o-navLinkList">
                    <a class="m-navLink" title="Support"><span>Support</span></a>
                </li>
            </ul>
            </nav>
            <div class="rcl-header-quicklinks">
            </div>
        </div>
    </div>
</header>