<div id="footer">
       <footer class="dsa-footer">
          <div class="row">
             <div class="col m-logoContainer"><a title="Rogers"><img class="a-logo" height="25" width="140"></a></div>
          </div>
          <div class="row m-ctaContainer">
             <div class="m-cta">
                <ul>
                   <li><a class="dsa-footer a-footerLink" title="Contact Us"><span class="icon rds-icon-call"></span><span class="copy">Contact Us</span></a></li>
                   <li><a class="dsa-foote a-footerLink" title="Find a store"><span class="icon rds-icon-location"></span><span class="copy">Find a store</span></a></li>
                </ul>
             </div>
          </div>
          <div class="row">
             <div class="col m-grid">
                <div class="m-column1">
                   <ul>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Investor Relations</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">ESG</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Community Investment</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">About Rogers</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Inclusion &amp; Diversity</span></a></li>
                   </ul>
                </div>
                <div class="m-column2">
                   <ul>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Privacy, CRTC &amp; Consumer Codes</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Careers</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Accessibility Services</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Rogers Mastercard</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Security</span></a></li>
                   </ul>
                </div>
                <div class="m-column3">
                   <ul>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Terms &amp; Conditions</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Site Map</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Media Contact</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="dsa-footer copy">Community Forums</span></a></li>
                   </ul>
                </div>
                <div class="m-cta -hideMobile">
                   <ul>
                      <li><a class="dsa-footer a-footerLink"><span class="icon rds-icon-call"></span><span class="dsa-footer copy">Contact Us</span></a></li>
                      <li><a class="dsa-footer a-footerLink"><span class="icon rds-icon-location"></span><span class="dsa-footer copy">Find a store</span></a></li>
                   </ul>
                </div>
                <div class="m-social">
                   <ul>
                      <li class="d-inline"><a class="dsa-footer__socialLink a-linkIconOnly a-footerLink -iconOnly" title="Follow us on Twitter"><span aria-hidden="true" class="icon rds-icon-twitter"></span></a></li>
                      <li class="d-inline"><a class="dsa-footer__socialLink a-linkIconOnly a-footerLink -iconOnly" title="Follow us on Facebook"><span aria-hidden="true" class="icon rds-icon-facebook"></span></a></li>
                      <li class="d-inline"><a class="dsa-footer__socialLink a-linkIconOnly a-footerLink -iconOnly" title="Follow us on YouTube"><span aria-hidden="true" class="icon rds-icon-youtube"></span></a></li>
                      <li class="d-inline"><a class="dsa-footer__socialLink a-linkIconOnly a-footerLink -iconOnly" title="Follow us on LinkedIn"><span aria-hidden="true" class="icon rds-icon-linkedIn"></span></a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col m-copy"><span class="dsa-footer__copyright d-none d-md-block">© 1995 - 2021 Rogers Communications</span><span class="dsa-footer__copyrightYears d-block d-md-none a-copy">© 1995 - 2021</span><span class="dsa-footer__copyrightOrganization d-block d-md-none a-copy">Rogers Communications</span></div>
          </div>
       </footer>
 </div>