<div _ngcontent-browse-rogers-c8="" _nghost-browse-rogers-c9="" data-xxs="undefined" data-xs="12" data-sm="12" data-md="12" data-lg="12" class="col-undefined col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-xxs-0 mt-xs-0 mt-sm-0 mt-md-0 mt-lg-0 ng-star-inserted snipcss-YI8HN"
   style="margin-top: 0px;">
   <div _ngcontent-browse-rogers-c9="">
      <!---->
      <div _ngcontent-browse-rogers-c8="" class="col-center">
         <!---->
         <div class="ng-star-inserted">
            <div class="jsUiBlockBanner mb-24" id="undefined">
               <!---->
               <!---->
               <!---->
               <!---->
               <!---->
               <div class="ng-star-inserted">
                  <div class="dsa-banner w-100 m-auto -bgImg" style="background-color: #A71F28;margin-left: -12px !important;">
                     <div class="dsa-banner__wrapper position-relative px-md-24 m-auto d-flex flex-column-reverse align-items-center ds-no-overflow flex-md-row -imgLifestyle">
                        <!---->
                        <div class="dsa-banner__copy w-100 w-md-50 p-24 py-md-0 text-center text-md-left pr-md-12 pl-md-0 ng-star-inserted">
                           <!---->
                           <!---->
                           <span class="ds-picture d-block ds-no-overflow ratio-16by9 ratio-md-1by1 -lifestyle">
                              <picture>
                                 <!---->
                                 <img src="https://images.ctfassets.net/8utyj17y1gom/6QAJmaScV8QB5VeTeeuZUO/d7cf232254eeed5aa48d7f128414e4c4/1-1-WIR-sticker-en.png?h=512&w=564&fm=webp&q=100" alt="Learn more about our holiday Disney+ offer">
                              </picture>
                           </span>
                        </div>
                        <!---->
                        <div class="dsa-banner__image w-100 w-md-50 pl-md-12 pr-md-0 ng-star-inserted">
                           <div style="color:#fff;">
                              <p class="dsa-banner__copyHeading text-title-1 mb-16 ng-star-inserted" role="heading">
                                 Save big this Small Business Month!
                              </p>
                              <!---->
                              <p class="dsa-banner__copyBody text-body-lg mb-16 ng-star-inserted">
                                 Make the most out of small business month with a credit of up to $200 from rogers whenyou activate or upgrade your device with financing on a Rogers Initinite TM plan..
                              </p>
                              <!---->
                              <p class="dsa-banner__legal text-body-sm mb-0 ng-star-inserted">
                              </p>
                              <!---->
                              <div class="dsa-banner__cta mr-16 mt-16 d-inline-flex mw-100 ng-star-inserted">
                                 <!---->
                                 <!---->
                                 <!---->
                                 <!---->
                                 <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -primary -large ng-star-inserted" ds-button="" aria-label="Get this $280 offer online now Shop Bundles" tabindex="0" role="link" style="transform: scale(1);">
                                    <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                                       <!---->
                                       <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                                          <span>
                                          Get Ready for school
                                          </span>
                                          <!---->
                                       </span>
                                       <!---->
                                       <!---->
                                       <!---->
                                       <!---->
                                       <div name="right" class="-size-24 ng-star-inserted">
                                          <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                                             <!---->
                                             <!---->
                                          </span>
                                       </div>
                                    </span>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>