<div class="ng-star-inserted">
    <div class="dsa-banner w-100 m-auto -bgImg" style="background-color: rgb(0, 0, 0);">
       <div class="dsa-banner__wrapper position-relative px-md-24 m-auto d-flex flex-column-reverse align-items-center ds-no-overflow flex-md-row ds-color-white -secondaryTextColor">
          
          <div>
             <p class="dsa-banner__copyBody text-body-lg mb-0 ng-star-inserted">The offers you’ve been waiting for on the hottest devices and latest tech, plus amazing deals on internet and TV entertainment services.				</p>
             
             <div class="dsa-banner__cta mr-16 mt-16 d-inline-flex mw-100 ng-star-inserted">
             </div>
             <div class="dsa-banner__cta mt-16 d-inline-flex mw-100 ng-star-inserted">
                
                <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -secondary -large ng-star-inserted" ds-button="" aria-label="View TV &amp; internet offers  View TV &amp; internet offers " tabindex="0" role="link" style="transform: scale(1);">
                   <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                      
                      <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                         <span>View TV &amp; internet offers </span>
                      </span>
                      
                      <div name="right" class="-size-24 ng-star-inserted">
                         <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                            
                         </span>
                      </div>
                   </span>
                </a>
            </div>
          </div>
          
          <div class="dsa-banner__image">
             <div>
                <span class="ds-picture">
                   <picture>
                      
                      <source media="(min-width: 900px)" srcset="https://images.ctfassets.net/8utyj17y1gom/6QAJmaScV8QB5VeTeeuZUO/d7cf232254eeed5aa48d7f128414e4c4/1-1-WIR-sticker-en.png?h=512&amp;w=564&amp;fm=webp&amp;q=100">
                      <img src="https://images.ctfassets.net/8utyj17y1gom/6QAJmaScV8QB5VeTeeuZUO/d7cf232254eeed5aa48d7f128414e4c4/1-1-WIR-sticker-en.png?h=512&amp;w=564&amp;fm=webp&amp;q=100" alt="Shop Black Friday deals on devices, tv, internet and tech ">
                   </picture>
                </span>
             </div>
          </div>
       </div>
    </div>
</div>