<section class="jsUiBlockTabs mt-4 snipcss-bnJox">
    <div class="container">
       <div class="ng-tns-c11-1">
          <div class="dsa-tabs">
             <div class="m-tabsHeader">
                <div class="m-tablets m-tablets__justify" role="tablist" style="justify-content: space-evenly;">
                   <button class="dsa-tabs__title a-tablet ng-tns-c11-1 -active ng-star-inserted" role="tab" tabindex="0" aria-selected="true" title="Wireless">
                   Wireless 
                   </button>
                   <button class="dsa-tabs__title a-tablet ng-tns-c11-1 ng-star-inserted" role="tab" tabindex="0" aria-selected="false" title="Bundles">
                   Bundles 
                   </button>
                   <button class="dsa-tabs__title a-tablet ng-tns-c11-1 ng-star-inserted" role="tab" tabindex="0" aria-selected="false" title="Internet">
                   Internet 
                   </button>
                   <button class="dsa-tabs__title a-tablet ng-tns-c11-1 ng-star-inserted" role="tab" tabindex="0" aria-selected="false" title="Smart Home">
                   Smart Home 
                   </button>
                </div>
                <div class="m-activeTabletRail">
                   <div class="m-activeTabletRail__handle -resize" style="width: 102.5px; margin-left: 135px;">
                   </div>
                </div>
                <div class="m-tabDivider">
                </div>
             </div>
             <div class="m-tabPaneContainer">
                <div class="m-tabPaneContainer__wrapper" style="height: 640px;">
                   <div class="m-tabBody ng-tns-c11-1 ng-trigger ng-trigger-slide ng-star-inserted">
                      <div class="dsa-tabItem ng-star-inserted" style="">
                         <div>
                            <div class="dsa-cardCarousel">
                               <div class="dsa-cardCarousel__container">
                                  <div class="m-carouselRail">
                                     <div>
                                        <div>
                                           <div class="dsa-cardCarousel">
                                              <div class="dsa-cardCarousel__container">
                                                 <div class="m-carouselRail">
                                                    <div class="ng-star-inserted">
                                                       <div class="dsa-card" role="button" tabindex="0">
                                                          <div class="ng-star-inserted">
                                                             <div class="dsa-cardOffer">
                                                                <div class="dsa-cardOffer__flagPlaceholder a-flagPlaceholder ng-star-inserted">
                                                                   ENDS TODAY!
                                                                </div>
                                                                <div class="m-offerHeader">
                                                                   <div class="dsa-cardOffer__img a-image">
                                                                      <img src="" alt="iPhone 13 Pro" height="250px">
                                                                   </div>
                                                                </div>
                                                                <div class="m-offerBody">
                                                                   <div class="m-offerBody__content">
                                                                      <div class="dsa-cardOffer__title a-title">
                                                                         Shop online, save $100
                                                                      </div>
                                                                      <div class="dsa-cardOffer__offerDescription a-offerDescription">
                                                                         Choose a Rogers Infinite TM plan and get 6 months of Apple Music on us when you signup! ($9.99/mo thereafter per subscriber). And with select plans, get 6 months of Disney+ on us ($11.99/mo thereafter)
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class="ng-star-inserted">
                                                       <div class="dsa-card" role="button" tabindex="0">
                                                          <div class="ng-star-inserted">
                                                             <div class="dsa-cardOffer">
                                                                <div class="dsa-cardOffer__flagPlaceholder a-flagPlaceholder ng-star-inserted">
                                                                   ENDS TODAY!
                                                                </div>
                                                                <div class="m-offerHeader">
                                                                   <div class="dsa-cardOffer__img a-image">
                                                                      <img src="" alt="music" height="250px">
                                                                   </div>
                                                                </div>
                                                                <div class="m-offerBody">
                                                                   <div class="m-offerBody__content">
                                                                      <div class="dsa-cardOffer__title a-title">
                                                                         Rogers Infinite just got better !
                                                                      </div>
                                                                      <div class="dsa-cardOffer__offerDescription a-offerDescription">
                                                                        Choose a Rogers Infinite TM plan and get 6 months of Apple Music on us when you signup! ($9.99/mo thereafter per subscriber). And with select plans, get 6 months of Disney+ on us ($11.99/mo thereafter)
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class="ng-star-inserted">
                                                       <div class="dsa-card" role="button" tabindex="0">
                                                          <div class="ng-star-inserted">
                                                             <div class="dsa-cardOffer">
                                                                <div class="dsa-cardOffer__flagPlaceholder a-flagPlaceholder ng-star-inserted">
                                                                   ENDS TODAY!
                                                                </div>
                                                                <div class="m-offerHeader">
                                                                   <div class="dsa-cardOffer__img a-image">
                                                                      <img src="" alt="pro" height="250px">
                                                                   </div>
                                                                </div>
                                                                <div class="m-offerBody">
                                                                   <div class="m-offerBody__content">
                                                                      <div class="dsa-cardOffer__title a-title">
                                                                         Choose Rogers and get a $200 credit for your small business!
                                                                      </div>
                                                                      <div class="dsa-cardOffer__offerDescription a-offerDescription">
                                                                         Power your business with a new phone and save! Get a $200 bill credit when you activate or upgrade your device on a Rogers InfiniteTM plan for your small business with financing.
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="dsa-tabItem__actionContainer">
                            <button class="dsa-btnSecondary" title="View all offers from Rogers" aria-label="View all offers from Rogers" data-caption="View all offers ">
                            View all offers
                            </button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>