<div class="rcl-navbar snipcss-g4sAv">
    <div class="rcl-navbar-inner">
       <div class="rcl-navbar-links">
          <ul class="o-navLinkList">
             <li class="o-navLinkList__item">
                <div classes="m-navLink -navbar">
                   <a tabindex="0" class="m-navLink -navbar -selected" title="Personal">
                   <span class="m-navLink__caption">
                   Personal
                   </span>
                   </a>
                </div>
             </li>
             <li class="o-navLinkList__item">
                <div classes="m-navLink -navbar">
                   <a tabindex="0" class="m-navLink -navbar" title="Business">
                   <span class="m-navLink__caption">
                   Business
                   </span>
                   </a>
                </div>
             </li>
          </ul>
       </div>
       <div class="rcl-navbar-nav">
          <ul class="o-navLinkList">
             <li class="o-navLinkList__item" dropdown-section="">
                <a aria-expanded="false" aria-haspopup="true" class="m-navLink -navbar" role="button" tabindex="0" aria-label="Ontario">
                <span class="m-navLink__caption">
                ON
                </span>
                <span class="m-navLink__chevron rds-icon-expand">
                </span>
                </a>
             </li>
             <li class="o-navLinkList__item" dropdown-section="">
                <div classes="m-navLink -navbar" keytab="true" role="button">
                   <a tabindex="0" class="m-navLink -navbar" title="Français" role="button" aria-label="Français">
                   <span class="m-navLink__caption">
                   FR
                   </span>
                   </a>
                </div>
             </li>
             <li class="o-navLinkList__item">
                <div classes="m-navLink -navbar" keytab="true">
                   <a tabindex="0" class="m-navLink -navbar" title="Find a Store">
                   <span class="m-navLink__icon rds-icon-location">
                   </span>
                   <span class="m-navLink__caption">
                   Find a Store
                   </span>
                   </a>
                </div>
             </li>
             <li class="o-navLinkList__item clicktale-mask" dropdown-section="">
                <a class="m-navLink -navbar -login" tabindex="0" title="Sign in">
                <span class="m-navLink__icon rds-icon-avatar">
                </span>
                <span class="m-navLink__caption">
                Sign in
                </span>
                </a>
             </li>
          </ul>
       </div>
    </div>
 </div>