<div class="w-100 snipcss-AXjCq">
    <div class="dsa-layout container" style="margin-bottom: 40px; padding-top: 6px; padding-bottom: 6px;">
        <div class="plans-header">More Reasons to choose Rogers</div>
       <div class="row">
          <div data-xxs="12" data-xs="12" data-sm="6" data-md="3" data-lg="3" class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 mt-xxs-0 mt-xs-0 mt-sm-0 mt-md-0 mt-lg-0 ng-star-inserted">
             <div>
                <div>
                   <div class="ds-tile h-100 ds-bgcolor-white ds-shadow ds-corners ds-no-overflow">
                      <div class="dsa-tile h-100 d-flex flex-column">
                         <div class="dsa-tile__image">
                            <div ratio="16by9">
                               <span class="ds-picture d-block ds-no-overflow ratio-16by9 -product">
                                  <picture>
                                     <source media="(min-width: 900px)" srcset="https://images.ctfassets.net/8utyj17y1gom/39UJK5MZZmt0aNrB4qdUGU/98791e33f43350b9dfcfe6b80d47b184/16-9-rogers-infinite-en.jpg?h=152&amp;w=270&amp;fm=webp&amp;q=100">
                                     <img src="https://images.ctfassets.net/8utyj17y1gom/39UJK5MZZmt0aNrB4qdUGU/98791e33f43350b9dfcfe6b80d47b184/16-9-rogers-infinite-en.jpg?h=152&amp;w=270&amp;fm=webp&amp;q=100" alt="null">
                                  </picture>
                               </span>
                            </div>
                         </div>
                         <div class="container-height dsa-tile__content p-24 d-flex flex-column justify-content-between flex-grow-1">
                            <div class="dsa-tile__contentCopy">
                               <p class="dsa-tile__contentCopyTitle text-body text-semi">
                                  Unlimited data plans
                               </p>
                               <p class="dsa-tile__contentCopyBody text-body-sm mb-0">
                                  With Rogers Infinite
                                  <sub>
                                  TM
                                  </sub> plans, you’ll never have to worry about overages, and the more devices you add, the more data to share. 5G access is included with Rogers Infinite plans at no extra charge.
                               </p>
                            </div>
                            <div class="dsa-tile__ctas ng-star-inserted">
                               <div class="row">
                                  <div class="dsa-tile__ctasWrapper mt-16 col ie11-flex-basis-auto ng-star-inserted">
                                     <div class="dsa-tile__cta w-100 d-inline-flex mw-100">
                                        <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -large ng-star-inserted" ds-button="" aria-label="Learn more Rogers Infinite Learn more" tabindex="0" role="link" style="transform: scale(1);">
                                           <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                                              <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                                              <span>
                                              Learn more
                                              </span>
                                              </span>
                                              <div name="right" class="-size-24 ng-star-inserted">
                                                 <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                                                 </span>
                                              </div>
                                           </span>
                                        </a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div data-xxs="12" data-xs="12" data-sm="6" data-md="3" data-lg="3" class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 mt-sm-0 mt-md-0 mt-lg-0 ng-star-inserted" style="margin-top: 16px;">
             <div>
                <div>
                   <div class="ds-tile h-100 ds-bgcolor-white ds-shadow ds-corners ds-no-overflow">
                      <div class="dsa-tile h-100 d-flex flex-column">
                         <div class="dsa-tile__image">
                            <div ratio="16by9">
                               <span class="ds-picture d-block ds-no-overflow ratio-16by9 -product">
                                  <picture>
                                     <source media="(min-width: 900px)" srcset="https://images.ctfassets.net/8utyj17y1gom/7n0gMp2BjNlJqCHRdOX7K3/2d15d1c1be2b103fff7658b7fe5eb7da/edge-financing-why-rogers.jpg?h=152&amp;w=270&amp;fm=webp&amp;q=100">
                                     <img src="https://images.ctfassets.net/8utyj17y1gom/7n0gMp2BjNlJqCHRdOX7K3/2d15d1c1be2b103fff7658b7fe5eb7da/edge-financing-why-rogers.jpg?h=152&amp;w=270&amp;fm=webp&amp;q=100" alt="null">
                                  </picture>
                               </span>
                            </div>
                         </div>
                         <div class="container-height dsa-tile__content p-24 d-flex flex-column justify-content-between flex-grow-1">
                            <div class="dsa-tile__contentCopy">
                               <p class="dsa-tile__contentCopyTitle text-body text-semi">
                                  Affordable devices
                               </p>
                               <p class="dsa-tile__contentCopyBody text-body-sm mb-0">
                                  With financing and
                                  <b>
                                  Upfront Edge
                                  </b>
                                  <sub>
                                  TM
                                  </sub> , we’ve made your favourite devices more affordable, today and every day.
                               </p>
                            </div>
                            <div class="dsa-tile__ctas ng-star-inserted">
                               <div class="row">
                                  <div class="dsa-tile__ctasWrapper mt-16 col ie11-flex-basis-auto ng-star-inserted">
                                     <div class="dsa-tile__cta w-100 d-inline-flex mw-100">
                                        <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -large ng-star-inserted" ds-button="" aria-label="Learn more Learn more" tabindex="0" role="link" style="transform: scale(1);">
                                           <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                                              <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                                              <span>
                                              Learn more
                                              </span>
                                              </span>
                                              <div name="right" class="-size-24 ng-star-inserted">
                                                 <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                                                 </span>
                                              </div>
                                           </span>
                                        </a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div data-xxs="12" data-xs="12" data-sm="6" data-md="3" data-lg="3" class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 mt-md-0 mt-lg-0 ng-star-inserted" style="margin-top: 16px;">
             <div>
                <div>
                   <div class="ds-tile h-100 ds-bgcolor-white ds-shadow ds-corners ds-no-overflow">
                      <div class="dsa-tile h-100 d-flex flex-column">
                         <div class="dsa-tile__image">
                            <div ratio="16by9">
                               <span class="ds-picture d-block ds-no-overflow ratio-16by9 -lifestyle">
                                  <picture>
                                     <source media="(min-width: 900px)" srcset="https://images.ctfassets.net/8utyj17y1gom/75MgteZfHhL5CuWNXry2Cc/424861f124ef3042d1f63d51bbd6423f/5G-French.jpg?h=152&amp;w=270&amp;fit=fill&amp;fm=webp&amp;q=100">
                                     <img src="https://images.ctfassets.net/8utyj17y1gom/75MgteZfHhL5CuWNXry2Cc/424861f124ef3042d1f63d51bbd6423f/5G-French.jpg?h=152&amp;w=270&amp;fit=fill&amp;fm=webp&amp;q=100" alt="Enjoy a wireless network that covers 97% of Canadians">
                                  </picture>
                               </span>
                            </div>
                         </div>
                         <div class="container-height dsa-tile__content p-24 d-flex flex-column justify-content-between flex-grow-1">
                            <div class="dsa-tile__contentCopy">
                               <p class="dsa-tile__contentCopyTitle text-body text-semi">
                                  Our network
                               </p>
                               <p class="dsa-tile__contentCopyBody text-body-sm mb-0">
                                  Experience Canada’s largest and most reliable 5G network.*
                                  <br>
                                  <br> * Rogers was ranked first in the umlaut Mobile Data Performance audit in Q2, 2021. Rogers achieved Best In Test in the umlaut Mobile Network Benchmark Canada for 2021. Visit https://www.umlaut.com/en/benchmarking/canada.
                                  Largest based on total square kilometers of Rogers 5G coverage compared to published coverage of all other national networks.
                               </p>
                            </div>
                            <div class="dsa-tile__ctas ng-star-inserted">
                               <div class="row">
                                  <div class="dsa-tile__ctasWrapper mt-16 col ie11-flex-basis-auto ng-star-inserted">
                                     <div class="dsa-tile__cta w-100 d-inline-flex mw-100">
                                        <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -large ng-star-inserted" ds-button="" aria-label="Learn more about our wireless network Learn more" tabindex="0" role="link" style="transform: scale(1);">
                                           <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                                              <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                                              <span>
                                              Learn more
                                              </span>
                                              </span>
                                              <div name="right" class="-size-24 ng-star-inserted">
                                                 <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                                                 </span>
                                              </div>
                                           </span>
                                        </a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div data-xxs="12" data-xs="12" data-sm="6" data-md="3" data-lg="3" class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 mt-md-0 mt-lg-0 ng-star-inserted" style="margin-top: 16px;">
             <div>
                <div>
                   <div class="ds-tile h-100 ds-bgcolor-white ds-shadow ds-corners ds-no-overflow">
                      <div class="dsa-tile h-100 d-flex flex-column">
                         <div class="dsa-tile__image">
                            <div ratio="16by9">
                               <span class="ds-picture d-block ds-no-overflow ratio-16by9 -product">
                                  <picture>
                                     <source media="(min-width: 900px)" srcset="https://images.ctfassets.net/8utyj17y1gom/6kTLvfw3wAidva5WG8thO2/fbf067549364389baa046022a5b0d30e/WifiPromise_Tile.png?h=152&amp;w=270&amp;fm=webp&amp;q=100">
                                     <img src="https://images.ctfassets.net/8utyj17y1gom/6kTLvfw3wAidva5WG8thO2/fbf067549364389baa046022a5b0d30e/WifiPromise_Tile.png?h=152&amp;w=270&amp;fm=webp&amp;q=100" alt="Ignite Internet is backed by the Ignite WiFi Promise">
                                  </picture>
                               </span>
                            </div>
                         </div>
                         <div class="container-height dsa-tile__content p-24 d-flex flex-column justify-content-between flex-grow-1">
                            <div class="dsa-tile__contentCopy">
                               <p class="dsa-tile__contentCopyTitle text-body text-semi">
                                  Our Ignite WiFi Promise
                               </p>
                               <p class="dsa-tile__contentCopyBody text-body-sm mb-0">
                                  Ignite Internet is backed by the Ignite WiFi Promise. Enjoy reliable, secure wall-to-wall WiFi throughout your home with the best WiFi technology for the speed you need.
                                  <br>
                                  <br> Plus, with the Ignite WiFi Hub app, you can manage your connection from anywhere.
                               </p>
                            </div>
                            <div class="dsa-tile__ctas ng-star-inserted">
                               <div class="row">
                                  <div class="dsa-tile__ctasWrapper mt-16 col ie11-flex-basis-auto ng-star-inserted">
                                     <div class="dsa-tile__cta w-100 d-inline-flex mw-100">
                                        <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -large ng-star-inserted" ds-button="" aria-label="Learn more about the Ignite WiFi Promise Learn more" tabindex="0" role="link" style="transform: scale(1);">
                                           <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                                              <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                                              <span>
                                              Learn more
                                              </span>
                                              </span>
                                              <div name="right" class="-size-24 ng-star-inserted">
                                                 <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                                                 </span>
                                              </div>
                                           </span>
                                        </a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>