<div class="rcl-navmain snipcss-oUdwD">
    <div class="rcl-navmain-inner">
        <div class="rcl-header-brand">
            <a class="rcl-logo" tabindex="0" title="Rogers">
                <img class="rcl-icon-logo" height="39" width="190" src="https://images.ctfassets.net/8utyj17y1gom/2JXnJrw79KkQOiOMia8Au2/9cbfc2fda65fa5a2127d5b0668d84765/rogers-brand.png" alt="Rogers">
            </a>
        </div>
        <nav class="rcl-header-navigation">
            <ul class="o-navLinkList">
                <!---->
                <li class="o-navLinkList__item" dropdown-section="">
                    <!---->
                    <a aria-expanded="false" aria-haspopup="true" class="m-navLink" tabindex="0" title="Shop">
                        <span class="m-navLink__caption">
                Shop
              </span>
                        <span class="m-navLink__chevron rds-icon-expand">
              </span>
                    </a>
                    <!---->
                    <ul class="o-headerNavDropdown" dropdown-list="">
                        <!---->
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Wireless 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  TV &amp; Streaming 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Internet 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Home Phone 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Wireless Home Phone 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Smart Home 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Rogers Mastercard 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Boxing Week Deals – Wireless 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Boxing Week Deals – TV + Internet 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Promotions 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="">
                  Why Choose Rogers 
                </a>
                        </li>
                    </ul>
                    <!---->
                    <!---->
                </li>
                <!---->
                <li class="o-navLinkList__item" dropdown-section="">
                    <!---->
                    <a class="m-navLink" tabindex="0" title="MyRogers">
                        <span class="m-navLink__caption">
                MyRogers
              </span>
                    </a>
                    <!---->
                </li>
                <!---->
                <li class="o-navLinkList__item" dropdown-section="">
                    <!---->
                    <a class="m-navLink" tabindex="0" title="Support">
                        <span class="m-navLink__caption">
                Support
              </span>
                    </a>
                    <!---->
                </li>
            </ul>
        </nav>
        <div class="rcl-header-quicklinks">
            <ul class="o-navLinkList">
                <!---->
                <!---->
                <li class="o-navLinkList__item" dropdown-section="" role="search">
                    <a aria-expanded="false" aria-haspopup="true" class="m-navLink -icon a-linkIconOnly" tabindex="0" title="Search rogers.com" aria-label="Search rogers.com">
                        <span class="m-navLink__icon rds-icon-search -open">
              </span>
                    </a>
                    <!---->
                    <ul class="o-headerNavDropdown -quicklinks" dropdown-list="">
                        <!---->
                        <li class="o-headerNavDropdown__item">
                            <div class="o-searchBar">
                                <div class="o-searchBar__input">
                                    <label class="sr-only" for="searchInput">
                      Search
                    </label>
                                    <input class="a-searchBar" id="searchInput" tabindex="-1" type="text" placeholder="Search">
                                </div>
                                <button class="o-searchBar__submit" tabindex="-1" title="Submit search" aria-label="Submit search">
                    <span class="a-icon rds-icon-search">
                    </span>
                  </button>
                            </div>
                            <div class="o-searchResults">
                            </div>
                        </li>
                        <li class="o-headerNavDropdown__item -quicktitle">
                            Quick links
                        </li>
                        <!---->
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="View your bill">
                  View Your Bill 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="View your usage">
                  View Usage 
                </a>
                        </li>
                        <li class="o-headerNavDropdown__item">
                            <a class="m-navLink -dropdown" tabindex="-1" title="Learn about Roam Like Home">
                  Roam Like Home 
                </a>
                        </li>
                        <div class="o-headerNavDropdown__close">
                            <a class="a-linkIconOnly" tabindex="-1" title="Close" aria-label="Close">
                                <span class="m-navLink__icon rds-icon-error -close">
                  </span>
                            </a>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>