<div class="background">
    <div class="dsa-banner__wrapper position-relative px-md-24 m-auto d-flex flex-column-reverse align-items-center ds-no-overflow flex-md-row ds-color-white -secondaryTextColor snipcss-lHrZA">
       <div class="dsa-banner__copy w-100 w-md-50 p-24 py-md-0 text-center text-md-left pr-md-12 pl-md-0 ng-star-inserted">
          <div>
             <span class="ds-picture d-block ds-no-overflow ratio-16by9 ratio-md-1by1 -product">
                <picture>
                   <source media="(min-width: 900px)" srcset="https://images.ctfassets.net/8utyj17y1gom/6QAJmaScV8QB5VeTeeuZUO/d7cf232254eeed5aa48d7f128414e4c4/1-1-WIR-sticker-en.png?h=512&w=564&fm=webp&q=100">
                   <img src="https://images.ctfassets.net/8utyj17y1gom/6QAJmaScV8QB5VeTeeuZUO/d7cf232254eeed5aa48d7f128414e4c4/1-1-WIR-sticker-en.png?h=512&w=564&fm=webp&q=100" alt="Shop Black Friday deals on devices, tv, internet and tech ">
                </picture>
             </span>
          </div>
       </div>
       <div class="dsa-banner__image w-100 w-md-50 pl-24 pr-24 pl-md-12 pr-md-0 ng-star-inserted">
          <p class="dsa-banner__copyHeading text-title-1 mb-16 ng-star-inserted" role="heading">
             Samsung Galaxy <br>
             Flip Z Flip 3 .
          </p>
          <p class="dsa-banner__copyBody text-body-lg mb-0 ng-star-inserted">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="dsa-banner__cta mr-16 mt-16 d-inline-flex mw-100 ng-star-inserted">
             <a class="w-100 ds-button ds-corners ds-pointer text-center mw-100 d-inline-block -primary -large ng-star-inserted" ds-button="" aria-label="View wireless Offers  View wireless offers" tabindex="0" role="link" style="transform: scale(1);">
                <span class="ds-button__wrapper d-flex justify-content-center align-items-center" role="text">
                   <span class="ds-button__copy text-button text-nowrap ds-no-overflow mw-100">
                   <span>
                   Get Ready for School
                   </span>
                   </span>
                   <div name="right" class="-size-24 ng-star-inserted">
                    <span class="ds-icon rds-icon-right" role="img" aria-hidden="true">
                       <!---->
                       <!---->
                    </span>
                 </div>
                </span>
             </a>
          </div>
       </div>
    </div>
 </div>