<div class="dsa-layout container -fullBleedMobile -fullBleedDesktop" style="margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
       
       <div _ngcontent-browse-rogers-c8="" _nghost-browse-rogers-c9="" data-xxs="undefined" data-xs="12" data-sm="12" data-md="12" data-lg="12" class="col-undefined col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-xxs-0 mt-xs-0 mt-sm-0 mt-md-0 mt-lg-0 ng-star-inserted" style="margin-top: 0px;">
          <div _ngcontent-browse-rogers-c9="">
             <div _ngcontent-browse-rogers-c8="" class="col-center">
                <div class="ng-star-inserted">
                   <div class="jsUiBlockTabs mt-4">
                      <div class="container">
                         <div class="ng-tns-c11-1">
                            <div class="dsa-tabs">
                               <div class="m-tabsHeader">
                                  <div class="m-tablets m-tablets__justify" role="tablist" style="justify-content: space-evenly;">
                                     <button class="dsa-tabs__title a-tablet ng-tns-c11-1 -active ng-star-inserted" role="tab" tabindex="0" aria-selected="true" title="Wireless"> Wireless </button><button class="dsa-tabs__title a-tablet ng-tns-c11-1 ng-star-inserted" role="tab" tabindex="0" aria-selected="false" title="Bundles"> Bundles </button><button class="dsa-tabs__title a-tablet ng-tns-c11-1 ng-star-inserted" role="tab" tabindex="0" aria-selected="false" title="Internet"> Internet </button><button class="dsa-tabs__title a-tablet ng-tns-c11-1 ng-star-inserted" role="tab" tabindex="0" aria-selected="false" title="Home Monitoring"> Home Monitoring </button>
                                  </div>
                                  <div class="m-activeTabletRail">
                                     <div class="m-activeTabletRail__handle -resize" style="width: 102.5px; margin-left: 136px;"></div>
                                  </div>
                                  <div class="m-tabDivider"></div>
                               </div>
                               <div class="m-tabPaneContainer">
                                  <div class="m-tabPaneContainer__wrapper" style="height: 665.234px;">
                                     
                                     <div class="m-tabBody ng-tns-c11-1 ng-trigger ng-trigger-slide ng-star-inserted">
                                        
                                        <div class="dsa-tabItem ng-star-inserted" style="">
                                           <div>
                                              <div class="dsa-cardCarousel">
                                                 <div class="dsa-cardCarousel__container">
                                                    <div class="m-carouselRail">
                                                       <div>
                                                          <div>
                                                             <div class="dsa-cardCarousel">
                                                                <div class="dsa-cardCarousel__container">
                                                                   <div class="m-carouselRail">
                                                                      
                                                                      <div class="ng-star-inserted">
                                                                         <div class="dsa-card" role="button" tabindex="0">
                                                                            
                                                                            <div class="ng-star-inserted">
                                                                               <div class="dsa-cardOffer">
                                                                                  
                                                                                  <div class="dsa-cardOffer__flagPlaceholder a-flagPlaceholder ng-star-inserted">Amazing phone. Amazing price.</div>
                                                                                  <div class="m-offerHeader">
                                                                                     <div class="dsa-cardOffer__img a-image"><img src="https://images.ctfassets.net/8utyj17y1gom/21uOmWgixJFkWaIxvC4Oht/2339721cff6c4db946dd82fe3eb8252b/1-1-iPhone-13.png" alt="iPhone 13"></div>
                                                                                  </div>
                                                                                  <div class="m-offerBody">
                                                                                     <div class="m-offerBody__content">
                                                                                        <div class="dsa-cardOffer__title a-title">Get iPhone 13 for just $0/mo!</div>
                                                                                        <div class="dsa-cardOffer__offerDescription a-offerDescription">Have an old iPhone 11? Trade it in and get the new iPhone 13 128 GB for just <del>$47.30/mo</del> $0/mo (after bill credit) for 24 months with financing on <strong>Upfront Edge</strong><sub>TM</sub>! <strong>Full price $1,135.</strong> In-store only.</div>
                                                                                     </div>
                                                                                     <div class="dsa-cardOffer__link m-offerBody__footer">
                                                                                        <div>
                                                                                           <a href="javascript:void(0)" class="
                                                                                              dsa-rdsLink
                                                                                              -link
                                                                                              text-copy
                                                                                              d-inline-flex align-items-center
                                                                                              " data-url="Learn more" title="Learn more about getting the iPhone 13 Pro with Upfront Edge and financing from Rogers">
                                                                                              <span class="dsa-rdsLink__wrapper" role="text">
                                                                                                 <span class="dsa-rdsLink__content ng-star-inserted">Learn more</span><span aria-hidden="true" class="dsa-rdsLink__icon rds-icon-right ng-star-inserted"></span>
                                                                                              </span>
                                                                                           </a>
                                                                                        <div>
                                                                                     </div>
                                                                                  </div>
                                                                               </div>
                                                                            </div>
                                                                         </div>
                                                                      </div>
                                                                      
                                                       </div>
                                                    </div>
                                                 </div>
                                                 
                                              </div>
                                           </div>
                                           <div class="dsa-tabItem__actionContainer"><button class="dsa-btnSecondary" title="View all offers from Rogers" aria-label="View all offers from Rogers" data-caption="View all offers "> View all offers  </button></div>
                                        </div>
                                     </div>
                                     
                                  </div>
                               </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
       
    </div>
 </div>